{% extends 'create_project/create_project_base.html' %}

{% block text_type %}

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active"
                                data-toggle="tab"
                                href="#tabItem1"><em
                class="icon ni ni-file-text"></em><span>{{ _('Manual Input') }}</span></a>
        </li>
        <li class="nav-item"><a class="nav-link"
                                data-toggle="tab"
                                href="#tabItem2"><em
                class="icon ni ni-table-view"></em><span>{{ _('Excel | Csv') }}</span></a>
        </li>
        <li class="nav-item"><a class="nav-link"
                                data-toggle="tab"
                                href="#tabItem3"><em
                class="icon ni ni-text-rich"></em><span>{{ _('Text File') }}</span></a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabItem1">
            <div class="form-group"><label
                    class="form-label"
                    for="cf-default-textarea">{{ _('multilines use enter twice') }}</label>
                <div class="form-control-wrap"><textarea
                        class="form-control form-control-sm"
                        id="data4post"
                        placeholder="Write your message">近一周饮食不当,一度腹泻,日3次,泻下后精神疲烦,时有低热,怕风,口干,痰中夹有血丝,左侧胸痛时作</textarea>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary"
                        id="text2diy">{{ _('Named Entity Recognition') }}
                </button>
            </div>
        </div>
        <div class="tab-pane" id="tabItem2">
            <div class="form-group"><label
                    class="form-label" for="default-06">
                {{ _('File Upload: accept .xls | .xlsx | .csv file') }}</label>
                <div class="form-control-wrap">
                    <div class="custom-file"><input
                            type="file" multiple=""
                            class="custom-file-input"
                            id="csv-file"><label
                            class="custom-file-label"
                            for="customFile">{{ _('Choose File') }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary"
                        id="excel2diy">{{ _('Named Entity Recognition') }}
                </button>
            </div>
        </div>
        <div class="tab-pane" id="tabItem3">
            <div class="form-group"><label
                    class="form-label" for="default-06">
                {{ _('File Upload: accept .txt file') }}</label>
                <div class="form-control-wrap">
                    <div class="custom-file"><input
                            type="file" multiple=""
                            class="custom-file-input"
                            id="text-file"><label
                            class="custom-file-label"
                            for="customFile">{{ _('Choose File') }}</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary"
                        id="txtfile2diy">{{ _('Named Entity Recognition') }}
                </button>
            </div>
        </div>
    </div>

{% endblock %}
